{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Tanques
        </li>
    </ol>
</nav>
{{flash()}}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form class="formularioAjax"
            action="{% if tanque.id %}{{url('admin/tanque/editar/'~tanque.id)}}{%else%}{{url('admin/tanque/cadastrar')}}{%endif%}"
            method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-8 mt-10">
                    <div class="mb-3">
                        <label for="numero_tanque" class="form-label">Numero do Tanque</label>
                        <input type="text" name="numero_tanque" id="numero_tanque" value="{{tanque.numero_tanque}}"
                            class="form-control">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="categoria_id" class="form-label">Status</label>
                        <select class="form-select" name="status">
                            <option value="1" {% if tanque.status=='1' %}selected{%endif%}>Ativo</option>
                            <option value="0" {% if tanque.status=='0' %}selected{%endif%}>Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="combustivel_id" class="form-label">Combustível</label>
                        <select class="form-select" name="combustivel_id" id="combustivel_id">
                            <option value="">selecione o combustível</option>
                            {% for gas in combustivel %}
                            <option value="{{gas.id}}" {% if tanque.combustivel_id==gas.id %}selected{%endif%}>
                                {{gas.descricao}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="capacidade" class="form-label">Capacidade</label>
                        <input type="text" name="capacidade" id="capacidade" value="{{tanque.capacidade}}"
                            class="form-control">
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary"
                value="{% if tanque.id %}Atualizar{%else%}Cadastrar{%endif%}">
        </form>
    </div>
</div>
{% endblock %}