<!DOCTYPE html>
<html>

<head>
    <title>
        {% if titulo %}
        {{titulo}}
        {% else %}
        {{constant('SITE_NOME')}}
        {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{config.config_site_description}}">
    <meta name="keywords" content="{{config.config_site_keywords}}">
   <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url('templates/assets/css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url('templates/site/assets/css/site.css') }}"> -->


    <link href="{{ url('uploads/empresa/favicon/'~config.config_favicon)}}" rel="icon">
    <link href="{{ url('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    <!-- Vendor CSS Files -->
    <link href="{{ url('templates/site/assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{ url('templates/site/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url('templates/site/assets/css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url('templates/assets/css/estilos.css') }}">
        <link rel="stylesheet" href="{{ url('templates/site/assets/css/site.css') }}">
</head>

<body>
    <div class="ajaxLoading">
        <div class="spinner">
            <i class="fa-solid fa-spinner fa-spin"></i>
            <p>Aguarde...</p>
        </div>
    </div>
    {% include 'topo.html' %}

    {% block conteudo %} {% endblock %}

    {% include 'rodape.html' %}

  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{ url('templates/site/assets/js/scripts.js') }}"></script>
        <script src="{{ url('templates/site/assets/js/site.js') }}"></script>
        <script src="{{ url('templates/site/assets/vendor/aos/aos.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
        <script src="{{ url('templates/site/assets/vendor/php-email-form/validate.js')}}"></script>
    
        <!-- Template Main JS File -->
        <script src="{{ url('templates/site/assets/js/main.js')}}"></script>
        <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
        <script src="{{ url('templates/site/assets/js/site.js')}}"></script>
</body>

</html>